<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Forecast</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }
        h1 {
            font-size: 28px;
            color: #333;
        }
        p {
            font-size: 16px;
            color: #555;
            margin-bottom: 10px;
        }
        strong {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h1>Weather Forecast for {{.City.Name}}</h1>
    <ul>
        
        <li>
            <p><strong>Date:</strong> {{range .List}} {{.DtTxt}}</p>
            <p><strong>Condition:</strong>  {{range .Weather}}{{.Main}} {{.Description}}{{end}}</p>
            <p><strong>Temperature High:</strong> {{.Main.TempMax}}</p>
            <p><strong>Temperature Low:</strong> {{.Main.TempLow}}</p>
        </li>
        {{end}}
    </ul>
</body>
</html>
